@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ----------------- navbar */

body {
    font-family: 'Fira Sans', sans-serif;
}

.navbar {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.logo {
    display: flex;
    width: 40%;
    font-family: 'Dancing Script', cursive;
    margin-left: 150px;
    color: black;
}

.logo h1 {
    font-size: 3em;
}

.logo h2 {
    font-size: 2em;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-links {
    width: 60%;
}

.nav-links li {
    display: inline;
    padding: 5%;
    border-right: 1px solid black;
}

.nav-links li:last-child {
    border-right: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* ----------------- about section */

.about-container {
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
}

.about-content {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-content h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.half-container-left {
    width: 50%;
    text-align: center;
    padding: 5% 0%;
}

.half-container-right {
    width: 50%;
    padding: 5%;
}

.profile-pic {
    border-radius: 50%;
    opacity: .9;
}

.half-container-right p {
    background-color: #E4FF1A;
    box-shadow: 10px 10px #FF5714;
    padding: 5%;
    border-radius: 25px;
    font-size: 1.2em;
}

/* ----------------- hackathon */

#hackathon-container {
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.hackathons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 2%;
}

.hackathons h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 2%;
}

.hackathons p {
    padding: 2%;
    border-radius: 25px;
    font-size: 1.2em;
    width: fit-content;
    background-color: #6EEB83;
    box-shadow: 10px 10px #1BE7FF;
}

.card-container {
    display: flex;
    padding: 5%;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    height: 500px;
  }

  .card h1 {
    text-decoration: underline;
    font-size: 1.8em;
    padding-bottom: 5%;
  }

  .card img {
    width: 100%;
  }

  .card p {
    padding-bottom: 2%;
  }

/* ----------------- cv */
#qual-container {
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
    padding: 2%;
}

#cv-container {
    display: flex;
}

.cert-container {
    padding: 5% 1%;
}

.cv {
    height: 800px;
    width: 600px;
}

.cert {
    height: 520px;
    width: 600px;
}

/* ----------------- footer css */

footer {
    bottom: 0;
    height: 5em;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
    display: flex;
    justify-content: center;
}

footer a:hover {
    color: #1BE7FF;
}

.fa-brands {
    padding: 2% 5%;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
    color: black;
}
