@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ----------------- navbar */

body {
    font-family: 'Fira Sans', sans-serif;
}

.navbar {
    height: 20vh;
    background-color: #5BC0BE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    width: 50%;
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
    color: black;
}

.logo h1 {
    font-size: 3em;
}

.logo h2 {
    font-size: 2em;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-links {
    width: 50%;
}

.nav-links li {
    display: inline;
    padding: 5%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* ----------------- about section */

.about-container {
    background-color: #0B132B;
}

.about-content {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-content h1 {
    font-size: 2em;
    text-align: center;
}

.half-container-left {
    width: 50%;
    text-align: center;
    padding: 5% 0%;
}

.half-container-right {
    width: 50%;
    padding: 5%;
}

.profile-pic {
    border-radius: 50%;
    opacity: .9;
}

.about-container p {
    background-color: #5BC0BE;
    padding: 5%;
    border-radius: 25px;
    font-size: 1.2em;
}

/* ----------------- hackathon */

.hackathons h1 {
    text-align: center;
    font-size: 3em;
}

.card-container {
    display: flex;
    padding: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  .card img {
    width: 100%;
  }
