/* ----------------- google font imports */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.headings {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Dancing Script', cursive, sans-serif;
    padding-bottom: 2%;
}


/* ----------------- navbar */

.navbar {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.logo {
    display: flex;
    width: 40%;
    font-family: 'Dancing Script', cursive;
    margin-left: 150px;
    color: black;
}

.logo h1 {
    font-size: 3em;
}

.logo h2 {
    font-size: 2em;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-links {
    width: 60%;
}

.nav-links li {
    display: inline;
    padding: 5%;
    border-right: 1px solid black;
}

.nav-links li:last-child {
    border-right: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* ----------------- about section */

.about-container {
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
}

.about-content {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.half-container-left {
    width: 50%;
    text-align: center;
    padding: 5% 0%;
}

.half-container-right {
    width: 50%;
    padding: 5%;
}

.profile-pic {
    border-radius: 50%;
}

.half-container-right p {
    background-color: #E4FF1A;
    box-shadow: 10px 10px #FF5714;
    padding: 5%;
    border-radius: 25px;
    font-size: 1.2em;
}

/* ----------------- hackathon */

#hackathon-container {
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.hackathons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 2%;
}

.hackathons h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 2%;
}

.hackathons p {
    padding: 2%;
    border-radius: 25px;
    font-size: 1.2em;
    width: fit-content;
    background-color: #6EEB83;
    box-shadow: 10px 10px #1BE7FF;
}

.card-container {
    display: flex;
    padding: 5%;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(80, 31, 179, 0.2), 0 6px 20px 0 rgba(80, 31, 179, 0.6);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    height: 580px;
  }

  .card h1 {
    text-decoration: underline;
    font-size: 1.8em;
    padding-bottom: 5%;
  }

  .card img {
    width: 100%;
  }

  .card p {
    padding: 2% 4%;
  }

  .card a {
    text-decoration: none;
  }

  .card a:hover {
    text-decoration: underline;
  }

/* ----------------- cv */
#qual-container {
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
    padding: 2%;
}

#qual-container p {
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
}

#cv-container {
    display: flex;
    padding-top: 3%;
}

.cert-container {
    padding: 0% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv {
    height: 800px;
    width: 600px;
}

.cert {
    height: 520px;
    padding: 3%;
}

/* ----------------- projects section css */

#projects-container {
    background: linear-gradient(to right,#E4FF1A,#FF5714);
}

/* ----------------- contact section css */

#contact-container {
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
}

/* ----------------- carousel css */

.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    border: 2px solid black;
    background: linear-gradient(to right,#1BE7FF,#6EEB83);
}

.carousel-card {
    display: none;
}

.carousel-card p {
    padding: 2%;
}

.carousel-card h1 {
    padding-left: 2%;
}

.carousel-card img {
    width: 100%;
    height: 400px;
}

.carousel-card a {
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.carousel-card a:hover {
    text-decoration: underline;
}

.carousel-card hr {
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: black;
}

.carousel-btns {
    padding: 2% 0%;
    text-align: center;
}

.carousel button:hover {
    background-color: red;
}

#carousel-btn-prev {
    font-size: 20px;
    padding: 1%;
    width: 20%;
    border-radius: 10px;
}

#carousel-btn-next {
    font-size: 20px;
    padding: 1%;
    width: 20%;
    border-radius: 10px;
}

#projects-container {
    padding: 5% 0%;
}

/* ----------------- contact container css */

#contact-container {
    display: flex;
    height: fit-content;
    padding-bottom: 2%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 5%;
}

.social-links {
    display: flex;
    align-items: center
}

.social-links .fa-brands {
    font-size: 5em;
}

.social-links .fa-solid {
    font-size: 5em;
    padding: 2% 5%;
    width: 50px;
    text-decoration: none;
    color: black;
}

.social-links .fa-brands:hover {
    color: #FF5714;
}

.social-links .fa-solid:hover {
    color: #FF5714;
}

.text-container {
    width: 30%;
    padding-top: 5%;
    padding-right: 5%;
    text-align: center;
    display: flex;
}

.animated-text {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    animation: pulse 1s infinite;
    border: 5px solid black;
    border-radius: 20%;
}

@keyframes pulse {
    0% {
        color: black;
    }
    50% {
        color: rgb(26, 123, 198);
    }
    100% {
        color: black;
    }
}

/* ----------------- footer css */

footer {
    bottom: 0;
    height: 5em;
    background: linear-gradient(to right,#E4FF1A,#FF5714);
    display: flex;
    justify-content: center;
}

footer a:hover {
    color: #1BE7FF;
}

.fa-brands {
    padding: 2% 5%;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
    color: black;
}